{% extends 'public/base.html' %}
{% load static %}

{% block meta_title %}
    超市
{% endblock %}

{% block meta_css %}
    <script>
        function changeImage() {
            document.getElementById("imgflag").src = "{% static 'images/redherat.png' %}";
        }
    </script>

    <style>
        .am-slider-default .am-control-nav {
            text-align: center;
        }

        .am-slider-default .am-control-nav li a.am-active {
            background: #cb2527;
        }

        .am-slider-default .am-control-nav li a {
            border: 0;
            width: 10px;
            height: 10px;
        }
    </style>
{% endblock %}

{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">商品详情</a>
        </h1>
    </header>
    <div style="height: 49px;"></div>
{% endblock %}

{% block content %}
    <!--图片轮换-->
    <div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
        <ul class="am-slides">
            {% for galler in goods_sku.gallery_set.all %}
            <li><img src="{{ MEDIA_URL }}{{ galler.img_url }}"/></li>
            {% endfor %}
        </ul>
    </div>
    <div class="detal-info" style="position: relative; width: 100%;">
        <p>{{ goods_sku.goods_spu.spu_name }}&emsp;{{ goods_sku.sku_name }}</p>
        <h2>商城价：<span>￥{{ goods_sku.price }}</span></h2>
        <div class="heart">
            <img src="{% static 'images/herat.png' %}" width="25" id="imgflag" onclick="changeImage()"/>
            <p>收藏</p>
        </div>
    </div>
    <div class="d-amount">
        <h4>数量：</h4>
        <div class="d-stock">
            <a class="decrease">-</a>
            <input sku_id="{{ goods_sku.pk }}" id="num" readonly="" class="text_box" name="" type="text" value="1">
            <a class="increase">+</a>
            <span id="dprice" class="price" style="display:none"> 36</span>
        </div>
    </div>
    <div style="background: #eee; height: 10px;"></div>
    <div class="am-tabs detail-list" data-am-tabs>
        <ul class="am-tabs-nav am-nav am-nav-tabs">
            <li class="am-active"><a href="#tab1">商品详情</a></li>
            <li><a href="#tab2">商品评论</a></li>
        </ul>

        <div class="am-tabs-bd">
            <div class="am-tab-panel am-fade am-in am-active detail " id="tab1">
                {{ goods_sku.goods_spu.content|safe }}
            </div>
            <div class="am-tab-panel am-fade detail " id="tab2">
                <ul class="comment-list">
                    <li class="current"><a href="">全部</a></li>
                    <li><a href="">好评（20）</a></li>
                    <li><a href="">中评（5）</a></li>
                    <li><a href="">差评（0）</a></li>
                </ul>
                <ul class="comment-pic">
                    <li>
                        <div class="tit">
                            <img src="{% static 'images/tx.png' %}" class="tx"/>
                            <span>songke2014</span>
                            <i> [2016-01-01]</i>
                        </div>
                        <div class="comment-con">
                            买了些给家人，都说不错！
                        </div>
                    </li>
                    <li>
                        <div class="tit">
                            <img src="{% static 'images/tx.png' %}" class="tx"/>
                            <span>songke2014</span>
                            <i> [2016-01-01]</i>
                        </div>
                        <div class="comment-con">
                            买了些给家人，都说不错！
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <!--底部-->
    <div style=" height: 55px;"></div>
    <ul class="fix-shopping">
        <li><a href="javascript:;" class="join">加入购物车</a></li>
        <li><a href="{% url 'sp_car:首页' %}" class="imm-buy">去购物车</a></li>
    </ul>
{% endblock %}



{% block footer_js %}
    <script>
        //购物数量加减
        $(function () {
            $('.increase').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());
                current_num += 1;
                self.siblings('input').val(current_num);
            })
            $('.decrease').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());
                if (current_num > 1) {
                    current_num -= 1;
                    self.siblings('input').val(current_num);
                }
            })

            // 加数据到购物车
            $(".join").on("click",function(){
                //发送ajax请求,添加购物车数据
                // 通过ajax请求后台, 添加数据库成功
                var sku_id = $(".text_box").attr('sku_id');
                var count = $(".text_box").val();
                var data = {
                    "sku_id": sku_id,
                    "count": count,
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                };
                {#console.debug(data)#}
                $.post("{% url 'sp_car:addCar' %}", data, function (data) {
                    if (data.error == "0") {
                        //提示
                        alert("添加购物车成功!")
                    } else if (data.error == "1") {
                        // 没有登录, 跳转到登录页面进行, 通过js代码实现跳转
                        if (confirm(data.msg)) {
                            // js 实现跳转的方法
                            location.href = "{% url 'sp_user:login' %}?next={% url 'sp_goods:DetailView' goods_sku.pk  %}"
                        }
                    } else {
                        alert(data.msg);
                    }
                });
            })
        })
    </script>
{% endblock %}